.user-project
  - @user.projects.each do |project|
    %h3= link_to project.title, project_path(project)
    - if project.has_ended
      %p #{pretty_time(@project.end_time)}
    -else
      %p
        %strong Time Remaining:
        = project.time_left
    %p
      %strong Description:
      = project.description
