// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$side-image-background-top: #B5EBEB;
$side-image-background-bottom: #5DAC5D;
$side-image-border: 1px solid darken(transparentize($side-image-background-bottom, .8), 30);

section.zero {
  @include outer-container;
  margin-bottom: 25px;
}

section.one {
  @include outer-container;
  margin-bottom: 25px;
  width: 55%;
}

section.two {
  @include outer-container;
  margin-bottom: 25px;
}

section.categoriesshow {
  @include outer-container;
  width: 81.4%;
  margin-right: 3.2%;
  margin-top: 4%;
  margin-bottom: 4%;
}

h2.title {
  margin-bottom: 25px;
}

.side-image {
  background: #F9F9F9;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background(url('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png'), linear-gradient($side-image-background-top, $side-image-background-bottom), no-repeat $side-image-background-top scroll);
    background-color: $side-image-background-top;
    border-bottom: $side-image-border;
    background-size: cover;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(8);
      padding: 4em 4em 8em 4em;
    }
  }

  .content h1 {
    margin-bottom: .9em;
  }

  .content h4 {
    background: $side-image-background-bottom;
    color: white;
    display: inline-block;
    font-size: .75em;
    font-weight: 800;
    margin-bottom: 1.3em;
    padding: 3px 8px;
    text-transform: uppercase;
  }

  .content p {
    color: gray;
    margin-bottom: 3em;
  }

  .content button {
    @include button(simple, white);
    font-size: $base-font-size;
    outline: none;
  }
  @include reset-display();
}

.cards {
  // @include clearfix;
  @include span-columns(6);
}

.cards.pro {
  // @include clearfix;
  @include span-columns(5);
  // margin-right: 4%;
  // margin-left: 4%;
  margin-bottom: 2%;
  margin-right: 4.4%;
  margin-top: 0;
}

.card {
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5);
  $card-stats-color: lighten($base-accent-color, 10);

  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  margin-bottom: $base-line-height;
  cursor: pointer;
  box-shadow: 0 2px 4px;
  position: relative;

  @include media($large-screen) {
    @include omega(3n);
  }

  .card-image {
    overflow: hidden;
    max-height: 250px;

    img {
      width: 100%;
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }
  }

  .ribbon-wrapper {
    $ribbon-size: 85px;
    $ribbon-background: $base-accent-color;
    @include size($ribbon-size);
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;

    .ribbon {
      font-size: .8em;
      font-weight: 800;
      text-align: center;
      @include transform(rotate(45deg));
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: $ribbon-background;
      color: white;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    padding: $base-line-height/3 $gutter/2;
  }

  .card-copy {
    padding: $base-line-height/2 $gutter/2;
    font-size: .9em;
    line-height: 1.5em;
  }

  .card-stats {
    padding: $base-line-height/2 $gutter/2;
    overflow: auto;

    ul li {
      display: inline;
      color: $card-stats-color;
      font-weight: 800;
      font-size: 1.2em;
      float: left;
      border-right: 1px solid transparentize($base-font-color, .8);
      line-height: 1.1em;
      padding: 0 .7em 0 .7em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
      }

      span {
        color: $base-font-color;
        font-size: .7em;
        display: block;
        font-weight: normal;
      }
    }
  }

  &:hover {
    background-color: $card-hover-background;

    .card-image img {
      background: $card-image-hover-background;
    }

    .card-header {
      background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}