%section.categoriesshow
  %h1 Top 6 Projects
  #search
    = render 'taggings_search'
  - options =render @categories
  = select_tag("category", options.html_safe, :prompt => "Please select a Category")
  #projects
    - if @projects.length > 6
      @projects.paginate
    = render @projects









