%section.one
  %br
  #search
    = render 'taggings_search'
  - options =render @categories
  %br
  = select_tag("category", options.html_safe, :prompt => "Please select a Category")
  %br
%section.categoriesshow
  #projects
  %h1 Top 6 HipStarter Projects
  = render @projects